.stockTile{
    border: 1px solid rgba(0, 195, 255, 0.3);
    height : auto;
    padding: 2%;
    padding-bottom: 3%;
    width: 75%;
    margin: 2%;
    border-radius: 15px;
    box-shadow: 0 8px 8px  lightblue;
}
.stockName{
    float: left;
    font-size:large;
}
.stockPrice{
    float: right;
    font-size: large !important;
    font-family: 'Comfortaa', cursive;
    color:green;
}
.secondPart{
    margin-top: 2%;
}
.DiffVal{
    float: left;
}
.DiffPer{
    float: left;
    margin-left: 2%;
}
.divexpand{
    text-align: left;
    float:center;
    margin: 2%;
}
.divcollapse{
    border-top: 1px solid black;
    display: none;
}
a .graph{
    text-decoration: none;
}
.graph{
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    width: 75%;
    color: black;
    border: 1px solid black;
}
.buyORsell{
    float:center;
    font-size:large;
    margin-top:3%;
    
}
a:hover{
    text-decoration: none;
}
.button1{
    background:rgb(183, 183, 235);
    padding: 2% 3%;
    color:  rgb(12, 12, 12);;
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 3%;
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.75);
    text-decoration: none;
    transition: 0.4s;
}
.button1:hover{
    background: rgb(20, 21, 22);
    color: white;
}
.buyPopup{
    background: rgb(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.buyContent{
    height: 300px;
    width: 400px;
    background: rgb(150, 221, 243);
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.buyImage{
    padding-left: 30px;
}
input{
    margin:20px auto;
    display: block;
    width: 50%;
    padding: 2%;
    border: 1px solid gray;
}
img{
    width: 100px;
    height: 70px;   
}
.button1Pop{
    margin-left: 40px;
}
.close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}
.sellPopup{
    background: rgb(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sellContent{
    height: 300px;
    width: 400px;
    background: rgb(150, 221, 243);
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.sellImage{
    padding-left: 30px;
}
.button2Pop{
    margin-left: 40px;
}
.close1{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}


.green{
    color:green;
}

.red{
    color:red;
}

/* slider button for modal */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
input {
    float: left;
   } */
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }