main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
  }
  
  table {
    margin: 20px;
  }
  
  caption {
  /*   text-decoration: underline; */
  }
  caption h1 {
    font-family: 'Eater', cursive;
    font-size: 3rem;
    margin: 0 10px 15px;
  }
  
  #img-cont {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  #logo {
    width: 100%;
    box-shadow: 0 0 5px black;
    border-radius: 100%;
    padding: 10px;
  }
  
  table, tr {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  thead tr > th {
    border: 1px solid black;
    padding: 20px 10px;
  }
  
  th, td {
    width: 100px;
    padding: 10px;
  }
  th, tr {
    text-align: center;
  }
  
  tr:nth-child(odd) {
    background-color: #543D2F;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #917B5D;
    color: white;
  }
  
  #headrow {
    background-color: #1C1214;
  }
  
  .person img {
    width: 60%;
    border-radius: 100%;
    border: 3px solid white;
  }
  
  tfoot tr td {
    padding: 30px;
  }